input
  background: $bg-form
  color: $fg
  border: 1px solid $ol-form
  border-radius: 3px
  line-height: 1.5rem
  margin-bottom: 0.5vh

input[type=button], input[type=submit], button
  background-color: transparent
  color: $hl
  border-radius: 12px
  border: 1px solid $ol-form
  margin: 0.1em
  font-size: 16px
  padding: 8px 16px
  text-transform: uppercase
  transition: opacity .2s ease-in-out

input[type=button]:hover, input[type=submit]:hover, button:hover
  opacity: 0.8
