.row
  display: flex
  flex-direction: column

  .column
    display: block
    flex: 1 1 auto

  .column-50
    flex: 0 0 50%
    max-width: 50%

  .column-65
    flex: 0 0 75%
    max-width: 75%

  @media (min-width: 40rem)
    flex-direction: row

.center
  text-align: center
