@charset 'UTF-8'

// partial imports
@import '_variables'
@import '_input'
@import '_links'
@import '_layout'
@import '_navbar'

body
  // Includes padding/borders in element's total width/height
  box-sizing: border-box
  margin: 0

  background-color: $bg

  // Basic font settings
  color: $fg
  font-family: $font
  line-height: $line-height

main
  // Ideal line length is ~65 characters wide
  width: 65ch
  margin: 0 auto

img
  width: 100%
  height: auto
